body {
  text-transform: none !important;
  padding:0;
  margin:0;
  background-color: #D1E9AA;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: none !important;
  color: #132A4E;
  z-index: 999;
}

h1, h2 {
  border-bottom: 5px #6BC199 solid;
}

h2 {
  margin: 35px 0 35px 0;
  font-size: 3.5em;
  font-style: italic;
}

h3 {
  margin: 30 0 20px 0;
  font-size: 2em;
}

a {
  color: #132A4E !important;
}

.slide {
  padding:20px;
  margin:0;
  background-color: #D1E9AA;
}

iframe {
  height: 1920px;
  width: 100%;
  border: 0px solid #ff0000;
  overflow: hidden;
  position: absolute;
}

.fullimage {
  width: 100%;
  z-index: 1;
  position: absolute;
  top:0;
  left:0;
  overflow: hidden;
}

.strikethrough {
  text-decoration: line-through;
}

.coverslide {
  background-color: #D1E9AA;
}

.coverslide h1 {
  color: #132A4E;
}

.coverslide h1 {
    border-bottom: 5px #6BC199 solid;
    display:inline-block;
}

.coverslide h1 span {
  font-size: 0.45em;
  color: #236678;
  padding-top: 0.5em;
}

.coverslide img {
  opacity: 0.3;
}

.whiteout {
  background-color: #FFF;
}

img.fade  {
  opacity: 0.6;
  z-index: 1;
}

img.superfade  {
  opacity: 0.3;
  z-index: 1;
}

img.epicfade  {
  opacity: 0.1;
  z-index: 1;
}

.deck-container > .slide.noscale {
  padding:0;
}