body {
  text-transform: none !important;
  padding:0;
  margin:0;
  background-color: #D1E9AA;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: none !important;
  /*color: #132A4E;*/
  color: #236678;
  z-index: 999;
}

h1, h2 {
  border-bottom: 5px #6BC199 solid;
}

h2 {
  margin: 35px 0 35px 0;
  font-size: 4em;
  /*font-style: italic;*/
  font-style: normal;
}

h3 {
  margin: 30 0 20px 0;
  font-size: 2.5em;
}

a {
  color: #132A4E !important;
}

.deck-container {
  font-family: 'Muli', sans-serif;
}

.slide {
  padding:20px;
  margin:0;
  /*background-color: #D1E9AA;*/
  background-color: #fff;
}

.slide ul, ol {
  margin-top: 6em;
  list-style-type: square;
}

.slide li {
  margin-bottom: 2em;
}

iframe {
  height: 1920px;
  width: 100%;
  border: 0px solid #ff0000;
  overflow: hidden;
  position: absolute;
  z-index:-1;
}

.fullimage {
  width: 100%;
  z-index: 1;
  position: absolute;
  top:0;
  left:0;
  overflow: hidden;
}

.strikethrough {
  text-decoration: line-through;
}

.coverslide {
  background-color: #D1E9AA;
}

.coverslide h1 {
  color: #132A4E;
}

.coverslide h1 {
    border-bottom: 5px #6BC199 solid;
    display:inline-block;
}

.coverslide h1 span {
  font-size: 0.45em;
  color: #236678;
  padding-top: 0.5em;
}

.coverslide img {
  opacity: 0.3;
}

.whiteout {
  background-color: #FFF;
}

.blackout {
  background-color: #000;
}

.blackout pre {
  background-color: #000;
  color: #FFF;
  font-style: normal !important;
  font-family: "Courier New"
}

.blackout h1 {
  border-bottom: none;
}

.inverseslide {
  background-color: #236678;

}

.inverseslide h1 {
  color: #D1E9AA;
  border-bottom: 5px #6BC199 solid;
  display:inline-block;
}


img.fade  {
  opacity: 0.6;
  z-index: 1;
}

img.superfade  {
  opacity: 0.3;
  z-index: 1;
}

img.epicfade  {
  opacity: 0.1;
  z-index: 1;
}

.deck-container > .slide.noscale {
  padding:0;
}

.snippet-container {
  font-size: 2em;
}

pre {
  border: none;
}